/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background-color: rgb(204,204,204);
    margin: 30px 50px;
    line-height: 1.4rem;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

 .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 0.9rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */

.big-box {
    display:grid;
    grid-gap: 20px;
    grid-template-areas:
     'showcase showcase top-box-a'
     'showcase showcase top-box-b';
}

/* Showcase */

.showcase {
    grid-area: showcase;
    min-height: 490px;
    background: url(/img/work-in-progress.png);
    background-repeat: no-repeat;
    padding: 3rem;
    display: end;
    flex-direction: column;
    column-width: 590px;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.h-text-centre {
    text-align: center;
    line-height: 20px;
    font-size: small;
}

#working-progress {
    text-align: end;
}

#tab-info {
    font-family: cursive;
    line-height: 20px;
    font-size: small;
}

/* Top Box */

.top-box {
    background: var(--primary);
    display: grid;
    align-items: flex-start;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    line-height: 5px;
}

/*  Boxes */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/* Portfolio */

.portfolio {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.porfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* Media Queries */

@media(max-width:700px) {
    .top-container {
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b'
    }

    .showcase .h1 {
        font-size: 2.5rem;
    }
    
    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 500px) {
    .top-container {
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }

          /* CS For scroll indicator */


}