@import url('https://fonts.googleapis.com/css2?family=Delius&family=Gotu&family=Work+Sans:wght@300&display=swap');


:root {
  --primary: rgb(221,221,221);
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}








                                              /* Header fixed position */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 99%;
  background: rgb(117,35,36);
  border-bottom: 8px solid rgb(15, 7, 58);
  border-right: 8px solid rgb(15, 7, 58);
  border-top: 8px solid rgb(15, 7, 58);
  border-left: 8px solid rgb(15, 7, 58);
}

.header-proper{
  width: 80%;
  margin: 0 auto;
}

.join-army{
    font-family: "Delius-Regular", sans-serif; 
    font-weight: normal; 
    text-align: center;
}

.join-army-colour{
      color: rgb(15, 7, 58);
    }









                                                      /* Navigation */


/* Navigation */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  margin-top: 100px;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  font-family: "Delius-Regular" sans-serif;
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 0.9rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
  font-family: "Delius-Regular" sans-serif;
}




                                                        /* Body */




/* Body */

body {
  background: url("img/Moraine-Lake.jpg");
  margin: 30px 50px;
  line-height: 1.4rem;
  font-family: "Delius-Regular" sans-serif;
}

.content{
  background: radial-gradient(circle,rgb(156,198,254),rgba(156,198,254,0.5));
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  font-family: "Delius-Regular" sans-serif;
  /* opacity: 70%; */
}

.headline{
  font-size: 60px;
  line-height: 66px;
}

.batukindent {
  text-indent: 20px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: small;
}




.grid-container {
  background: rgb(221,221,221);
  margin: 30px;   
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border-style: solid;
  font-family: monospace;
}

.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;
  width: 1fr 1fr;
  line-height: normal;
  margin: 20px;
  border: rgb(117,35,36) solid;
}

.grid-item ul {
  list-style: none;
  font-size: 15px;
}

.grid-item-intro {
  color: black;
  font-size: 18px;
  text-align: left;
  width: 1fr;
  margin: 10px;
}

.grid-item-tac {
  color: black;
  font-size: 18px;
  text-align: start;
  width: 1fr;
  margin: 20px;
}

#list {
  text-align: start;
  text-indent: 20px;
}

#list-kit {
  text-indent: 30px;
  text-align: start;
}

#a {
  margin: 1px;
}